<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список водителей</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main class="table-panel">
        <h2>Список водителей</h2>
        <table>
            <tr>
                <th>Имя</th>
                <th>Телефон</th>
                <th>email</th>
                <th>Стаж</th>
                <th>Лицензионный номер</th>
                <th>Марка машины</th>
                <th>Тарифф</th>
            </tr>
            {% for driver in drivers %}
                <tr>
                    <td>{{ driver.name }}</td>
                    <td>{{ driver.phone }}</td>
                    <td>{{ driver.email }}</td>
                    <td>{{ driver.intership }}</td>
                    <td>{{ driver.car_license }}</td>
                    <td>{{ driver.car_brand }}</td>
                    <td>{{ driver.tariff_name }}</td>
                </tr>
            {% else %}
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>