<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список водителей</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main class="table-panel">
        <h2>Список водителей</h2>
        <table>
            <tr>
                <th>Телефон клиента</th>
                <th>Начальная точка</th>
                <th>Конечная точка</th>
                <th>Расстояние</th>
                <th>Время заказа</th>
                <th>Имя водителя</th>
                <th>Тарифф</th>
            </tr>
            {% for order in orders %}
                <tr>
                    <td>{{ order.phone }}</td>
                    <td>{{ order.from_loc }}</td>
                    <td>{{ order.dest_loc }}</td>
                    <td>{{ order.distance }}</td>
                    <td>{{ order.orderedAt }}</td>
                    <td>{{ order.driver_name }}</td>
                    <td>{{ order.tariff_name }}</td>
                </tr>
            {% else %}
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>